URxvt*font: xft:Monospace:pixelsize=21
URxvt*boldFont: xft:Monospace:bold:pixelsize=18 
URxvt*letterSpace: 0
URxvt*saveLines: 12000
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollstyle: rxvt
URxvt*foreground: #DEDEDE
URxvt*background: #2B2B2B
URxvt*color0: #1c1c1c
URxvt*color8:  #3d3a3a
URxvt*color1:  #d770af
URxvt*color9:  #d28abf
URxvt*color2 : #9acc79
URxvt*color10: #8fb676
URxvt*color3:  #d0d26b
URxvt*color11: #c8bc45
URxvt*color4 : #77b6c5
URxvt*color12: #8fa7b9
URxvt*color5:  #a488d9
URxvt*color13: #bd89de
URxvt*color6:  #7fcab3
URxvt*color14: #6ec2a8
URxvt*color7:  #8d8d8d
URxvt*color15: #dad3d3
